
<ion-header>
	<ion-toolbar >
		<ion-title>{{(list$|async)?.name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content> 
	<ion-list inset *ngIf="ready" >
		<ion-card > 
			<ion-card-content>
				<ion-card-title>
					{{(list$|async)?.name}}
				</ion-card-title>
				<p>Creador: {{(list$|async)?.user}}</p>
				<p>Fecha de Modificacion: {{(list$|async)?.date_update}}</p>
				<p>Fecha de Creacion: {{(list$|async)?.date_creation}}</p>
			</ion-card-content>
		</ion-card>
		<ion-card *ngFor="let book of books$" > 

			<ion-card-content >
				<ion-card-title>
					{{book.title}}
				</ion-card-title>
				<p>{{book.plot.slice(0,100)}} <i *ngIf=" book.plot.length > 50" >...</i></p>
				<ion-row >
					<ion-col text-left>
						<ion-button fill="clear" small color="primary" (click)="createReview($event, book.id, book.title)">
							<ion-icon name='text'></ion-icon>
							Reseñar
						</ion-button>
					</ion-col>
					<ion-col text-right>
						<ion-button fill="clear" small color="primary" (click)="itemTapped($event, book.id)">
							<ion-icon name='arrow-dropright'></ion-icon>
							Ver mas 
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
	</ion-list>	
</ion-content>  