
<ion-header>
	<ion-toolbar >
		<ion-title>Listas</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content> 
	<ion-searchbar 
  placeholder="Buscar"
	[(ngModel)]="searchTerm"
	(ionInput)="setFilteredItems()">
</ion-searchbar>
<ion-list inset >
	<ion-card *ngFor="let list of lists$ ; trackBy: trackByFn" > 
		<ion-card-content>
			<ion-card-title>
				{{list.name}}
			</ion-card-title>
			<p>Creador: {{list.user}}</p>
			<p>Fecha de Modificacion: {{list.date_creation}}</p>
			<ion-button fill="clear" small color="primary" (click)="itemTapped($event, list)">
				<ion-icon name='arrow-dropright'></ion-icon>
				Ver mas 
			</ion-button>
		</ion-card-content>
	</ion-card>
</ion-list>
</ion-content> 
