<ion-header>

  <ion-toolbar>
    <ion-title>Crear una nueva lista</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-input placeholder="Nombre" [(ngModel)]="name" required>
			</ion-input>
		</ion-item>
	</ion-list>
	<ion-button full (click)="createBooklist()">Crear Lista</ion-button>
	<ion-searchbar
    placeholder="Buscar"
		[(ngModel)]="searchTerm"
		(ionInput)="setFilteredItems()"
		(ionCancel)="cancel()">
	</ion-searchbar>
	<ion-list inset >
		<ion-card *ngFor="let book of books$;let idx = index ; trackBy: trackByFn" > 

			<ion-card-content>	
			  <ion-item>			
				<ion-checkbox (ionChange) = "checkBook(book)"></ion-checkbox>
				<ion-label>{{book.title}}</ion-label>
			  </ion-item>
			</ion-card-content>
		</ion-card>
	</ion-list>	
</ion-content>
